
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Kundeside</h2>

@if (Model.Navn != null)
{
    <h3>Hei @Model.Navn !</h3>

    <input type="button" value="Gå til romreservasjon" onclick="location.href='@Url.Action("Index", "RomReservasjon",new {kundeId = Model.KundeID})'" />
    <input type="button" value="Se status på reservasjoner" onclick="location.href='@Url.Action("Index", "ReservasjonStatus", new { userName = Model.Navn } )'" />
}

@if (Model.Navn == null)
{
    <h3> Du må gå til innlogging for å se kundeinformasjon</h3>
    <input type="button" value="Gå til innlogging"  onclick="location.href='@Url.Action("Index", "Login")'"/>
}



