@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@{
    ViewBag.Title = "Rom Reservasjon";
}

@model List<Rom>

<h2>Rom Reservasjon</h2>

<div class="container">
    <form action="~/RomReservasjon/Index" method="post">

        <label for="fradato"><b>Fra Dato:</b></label>
        <input type="date" name="fdato" required />

        <label for="tildato"><b>Til Dato:</b></label>
        <input type="date" name="tdato" required />

        <label for="storrelse"><b>Størrelse:</b></label>
        <select name="storrelse">
            <option value="0">Lite</option>
            <option value="1">Middels</option>
            <option value="2">Stort</option>
        </select>

        <label for="kvalitet"><b>Kvalitet:</b></label>
        <select name="kvalitet">
            <option value="0">Dårlig</option>
            <option value="1">Middels</option>
            <option value="2">Bra</option>
        </select>

        <label for="antallsenger"><b>Antall Senger:</b></label>
        <input type="text" name="antallsenger" required />

        <button type="submit">Finn Rom</button>
    </form>
   <table>
       <tr>
           <th>
               RomNummer
           </th>
       </tr>
        @foreach(var rom in Model)
        {
            <tr>
                <td>@rom</td>
                <td><form action="~/RomReservasjon/VelgRom" method="post">
                    <input type="hidden" name="RomID" value="@rom.RomID" />
                    <button type="submit">Velg rom</button>
                    </form></td>
            </tr>
        }
   </table>

</div>
